body {
	/*
	background-image: url('../images/pattern3.png');
	background-repeat: repeat-y repeat-x;
	*/
	font-family: Helvetica, Arial, sans-serif;
}

.all {
	/*position: absolute;
	margin-left: 60px;
	*/
	width: 1400px;
	margin: auto;
	margin-top: 60px;
	font-family: Helvetica, Arial, sans-serif;
}

.kitchen{
	position: absolute;
	width: 900px;
	height: 624px;
	background-color: #F6F6F6;
	background-image: url(../img/kueche_sand_leer_gross.jpg);
	background-size: 900px 624px;
	-webkit-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	-moz-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
}

#obj{
	position: absolute;
	margin-left: 920px;
	margin-top: 80px;
	width: 420px;
	height: 515px;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	-moz-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	display: inline-block;
	border: 2px solid white;
	overflow: auto;
}

.but{
	position: absolute;
	width: 420px;
	height: 60px;
	margin-left: 920px;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	-moz-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
}

.resultate-kueche{
	position: absolute;
	width: 450px;
	height: 520px;
	margin-left: 820px;
	margin-top: 80px;
	overflow: scroll;
	display:none;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	-moz-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
}

.resultate-list{
	color: #444;
	font-size: 12.5px;
	line-height: 28px;
	background-color: none;
	list-style-type: square;
}


h1 {
	position: absolute;
	top: 20px;
	left: 60px;
	font-size: 16px;
	color: #444;
}

h3 {
	position: absolute;
	top: 60px;
	left: 60px;
	font-size: 14px;
	color: #444;
}

.objekte {
	width: 100px;
	height:100px;
}

.draggable {
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.dropped {
	position: static !important;
}


.smaller-input {
	width: 25px !important;
	height: 25px !important;
}

/* Buttons */

#open, #close, #refresh, #finish, #back, #next, #distance_table, #screenshot{
	position:relative;
	width: 75px;
	height: 40px;
	margin-right: 6px;
	left:10px;
	top: 10px;
	float:left;
}

.schrank {
	position: absolute;
	display:none;
	border: 1px solid #726c5d;
	text-align: center;
	overflow: hidden;
	background-color: #c0ad8c; /*REGAL LEISTE */
}

.schrank.border {
	border-width: 2px;
	background-color: green;
	opacity: 0.2;
}

/* doors */
.door {
	position: absolute;
	text-align: center;
	transition: transform .5s;
	transform-style: preserve-3d;
	transform-origin: left center;
	border: 1px solid #adbeac;
	/*z-index: 2;*/
}

.opendoorleft {
	-webkit-transform: rotateY(-95deg) skewY(5deg);
	-moz-transform: rotateY(-95deg) skewY(5deg);
  -o-transform: rotateY(-95deg) skewY(5deg);
	transform: rotateY(-95deg) skewY(5deg);
	transform-origin: left bottom;
	position: absolute;
	z-index: 5;
}

.opendoorright {
	-webkit-transform: rotateY(105deg) skewY(-5deg);
	-moz-transform: rotateY(105deg) skewY(-5deg);
  -o-transform: rotateY(105deg) skewY(-5deg);
	transform: rotateY(105deg) skewY(-5deg);
	transform-origin: right;
	position: absolute;
	z-index: 5;
}

.opendrawer {
	-webkit-transform: translate(0,8px) scaleY(0.55);
	-moz-transform: translate(0,8px) scaleY(0.55);
	-o-transform: translate(0,8px) scaleY(0.55);
	transform: translate(0,8px) scaleY(0.55);
	transform-origin: bottom;
	position: absolute;
	z-index: 5;
}

.opendoordown {
	-webkit-transform: rotateX(140deg);
	-moz-transform: rotateX(140deg);
	-moz-transform: rotateX(140deg);
	transform: rotateX(140deg);
	transform-origin: bottom;
	position: absolute;
	z-index: 5;
}

.opendoorup {
	-webkit-transform: rotateX(20deg);
	-moz-transform: rotateX(20deg);
	-moz-transform: rotateX(20deg);
	transform: rotateX(120deg);
	transform-origin: 0 0;
	position: absolute;
	z-index: 5;
}
/*
#close {
	position:relative;
	width: 80px;
	height: 40px;
	margin-right: 6px;
	left:10px;
	top:10px;
}
#refresh {
	position:relative;
	width: 80px;
	height: 40px;
	left:10px;
	top:10px;
}
*/


/* cupboards */
#s1{
	width: 135px;
	height: 177px;
	left: 22px;
	top: 115px;
}

#s2 {
	width: 135px;
	height: 177px;
	left: 165px;
	top: 115px;
}

#s3 {	
	width: 135px;
	height: 177px;
	left: 307px;
	top: 115px;
}

#s4 {	
	width: 135px;
	height: 177px;
	left: 450px;
	top: 115px;
}

#s5 {	
	width: 135px;
	height: 177px;
	left: 597px;
	top: 115px;
}

#s6-1 {	
	width: 143px;
	height: 27px;
	left: 0px;
	top: 450px;
}

#s6-2 {	
	width: 143px;
	height: 27px;
	left: 0px;
	top: 481px;
}

#s6-3 {	
	width: 143px;
	height: 27px;
	left: 0px;
	top: 512px;
}

#s6-4 {	
	width: 143px;
	height: 27px;
	left: 0px;
	top: 542px;
}

#s6-5 {	
	width: 144px;
	height: 54px;
	left: 0px;
	top: 571px;
}

#s7 {	
	width: 147px;
	height: 147px;
	left: 298px;
	top: 477px;
}

#s8 {	
	width: 146px;
	height: 118px;
	left: 449px;
	top: 490px;
}

#s9-1 {	
	width: 143px;
	height: 27px;
	left: 603px;
	top: 450px;
}

#s9-2 {	
	width: 144px;
	height: 54px;
	left: 603px;
	top:  482px;
}

#s9-3 {	
	width: 146px;
	height: 83px;
	left: 603px;
	top: 442px;
}

#s10-1 {	
	width: 143px;
	height: 27px;
	left: 754px;
	top: 450px;
}

#s10-2 {	
	width: 144px;
	height: 54px;
	left: 753px;
	top: 482px;
}

#s10-3 {	
	width: 146px;
	height: 83px;
	left: 753px;
	top: 542px;
}
/*
#s7 {
	height: 83px;
	left: 603px;
	top: 437px;
	width: 146px;
}

#s8 {
	width: 104px;
	height: 27px;
	left: 493px;
	top: 391px;
}

 #s9 {
	left: 493px;
	top: 422px;
	width: 104px;
	height: 123px;
} 

#s10 {
	width: 143px;
	height: 27px;
	left: 2px;
	top: 345px;
}

#s10_2 {
	width: 143px;
	height: 27px;
	left: 2px;
	top: 376px;
}
*/

/* #s11 {
	width: 138px;
	left: 57px;
	top: 422px;
	height: 123px;
}

#s12 {
	width: 144px;
	height: 104px;
	left: 346px;
	top: 416px;
	background-color: #83878A;
} */

#d1 {
	width: 135px;
	left: 22px;
	top: 115px;
	height: 177px;
	background-image: url(../img/tuer_oben_rechts.jpg);
	background-size: 142px 182px;
}

/*
#d1:hover{
	-webkit-transition: rotateY(-97deg) skewY(10deg);
	-moz-transition: rotateY(-97deg) skewY(10deg);
  -o-transition: rotateY(-97deg) skewY(10deg);
	transform: rotateY(-97deg) skewY(10deg);
	left 10;
}
*/
#d2 {
	left: 165px;
	top: 115px;
	width: 135px;
	height: 177px;
	background-image: url(../img/tuer_oben_links.jpg);
	background-size: 142px 182px;
}

#d3 {
	left: 307px;
	top: 115px;
	width: 135px;
	height: 177px;
	background-image: url(../img/tuer_oben_links.jpg);
	background-size: 142px 182px;
}

#d4 {
	width: 135px;
	left: 450px;
	top: 115px;
	height: 177px;
	background-image: url(../img/tuer_oben_rechts.jpg);
	background-size: 142px 182px;
}

#d5 {
	left: 597px;
	top: 115px;
	width: 135px;
	height: 177px;
	background-image: url(../img/tuer_oben_links.jpg);
	background-size: 142px 182px;
}

#d6-1 {
	width: 143px;
	height: 27px;
	left: 0px;
	top: 450px;
	background-image: url(../img/schublade_klein_links.jpg);
	background-size: 147px 31px;
}

#d6-2 {
	width: 143px;
	height: 27px;
	left: 0px;
	top: 481px;
	background-image: url(../img/schublade_klein_links.jpg);
	background-size: 147px 31px;
}

#d6-3 {
	width: 143px;
	height: 27px;
	left: 0px;
	top: 512px;
	background-image: url(../img/schublade_klein_links.jpg);
	background-size: 147px 31px;
}

#d6-4 {
	width: 143px;
	height: 27px;
	left: 0px;
	top: 542px;
	background-image: url(../img/schublade_klein_links.jpg);
	background-size: 147px 31px;
}

#d6-5 {
	width: 144px;
	height: 54px;
	left: 0px;
	top: 571px;
	background-image: url(../img/schublade_mittel_links.jpg);
	background-size: 148px 57px;
}

#d7 {
	width: 147px;
	height: 147px;
	left: 298px;
	top: 477px;
	background-image: url(../img/tuer_unten.jpg);
	background-size: 148px 148px;
}

#d8 {
	width: 146px;
	height: 118px;
	left: 449px;
	top: 490px;
	background-image: url(../img/ofen_tuer.jpg);
	background-size: 147px 119px;
}

#d9-1 {
	width: 143px;
	height: 27px;
	left: 603px;
	top: 450px;
	background-image: url(../img/schublade_klein_rechts.jpg);
	background-size: 151px 30px;
}

#d9-2 {
	width: 144px;
	height: 54px;
	left: 603px;
	top: 482px;
	background-image: url(../img/schublade_mittel_rechts.jpg);
	background-size: 153px 61px;
}

#d9-3 {
	height: 83px;
	left: 603px;
	top: 542px;
	width: 146px;
	background-image: url(../img/schublade_groß_rechts.jpg);
	background-size: 149px 88px;
}

#d10-1 {
	width: 143px;
	height: 27px;
	left: 754px;
	top: 450px;
	background-image: url(../img/schublade_klein_rechts.jpg);
	background-size: 147px 31px;
}

#d10-2 {
	width: 144px;
	height: 54px;
	left: 753px;
	top: 482px;
	background-image: url(../img/schublade_mittel_rechts.jpg);
	background-size: 153px 61px;
}

#d10-3 {
	height: 83px;
	left: 753px;
	top: 542px;
	width: 146px;
	background-image: url(../img/schublade_groß_rechts.jpg);
	background-size: 149px 88px;
}




/* shelves */
.regal {
	position: absolute;
	text-align: center;
	overflow: auto;
	background-color: white; /*#bdaa8a;*/
	min-height: 20px;
	min-width: 40px;
	perspective: 40px;
	z-index: 4;
}

/*oberen Schrank-Regale*/
#sv1-1, #sv2-1, #sv1-2, #sv2-2 , #sv3-1, #sv3-2, #sv4-1, #sv4-2, #sv5-1, #sv5-2{
	width: 135px;
	height: 88px;
	perspective: 30px;
}

#sv1-2, #sv2-2, #sv3-2, #sv4-2, #sv5-2 {
	margin-top: 89px;
}

#sv6-1, #sv6-2, #sv6-3, #sv6-4 {
	width: 143px;
	height: 27px;
	min-height: 8px;
}

#sv6-5 {
	width: 144px;
	height: 54px;
	min-height: 8px;
	min-width: 30px;
}

#sv9-1, #sv10-1 {
	width: 143px;
	height: 27px;
	min-height: 8px;
}

#sv9-2, #sv10-2 {
	width: 144px;
	height: 54px;
	min-height: 8px;
}

#sv9-3, #sv10-3 {
	width: 146px;
	height: 83px;
	min-height: 8px;
}

#sv7 {
	width: 147px;
	height: 147px;
}

#sv8 {
	width: 146px;
	height: 118px;
}



#test {
	width: 300px;
	height: 100px;
	margin-top: 650px;
	margin-left: 820px;
	position: absolute;
	color: transparent;
	background-color: transparent;

}

.hidden {
	display: none;
	width: 0;
	color: white;
}

#obfl1 {
	background-color: transparent;
	width: 300px;
	height: 60px;
	left: 290px;
	top: 310px;
	min-height: 58px;
	min-width: 100px;
}

#obfl2 {
	background-color: red;
	width: 144px;
	height: 170px;
	left: 0px;
	top: 0px;
	min-height: 69px;
	min-width: 150px;
}
#obfl3 {
	background-color: transparent;
	width: 97px;
	height: 40px;
	left: 490px;
	top: 80px;
	min-height: 40px;
	min-width: 30px;
}

#lupe {
	width: 100px;
	height: 100px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: 100px 100px;
	background-position: 0 0;
	position: absolute;
	border: 2px solid gray;
	z-index: 10;
	display: none;
}

.highlight {
	background-color: red;
	position: absolute;
	opacity: 0.7;
}

.transparent {
	opacity: 0.01;
	filter: alpha(opacity=10);
}
