body {
	/*
	background-image: url('../images/pattern3.png');
	background-repeat: repeat-y repeat-x;
	*/
	font-family: Helvetica, Arial, sans-serif;
}

.all {
	/*position: absolute;
	margin-left: 60px;
	*/
	width: 1345px;
	margin: auto;
	margin-top: 60px;
	font-family: Helvetica, Arial, sans-serif;
}

.kitchen{
	position: absolute;
	width: 900px;
	height: 624px;
	background-color: #F6F6F6;
	/*background-image: url(../img/kueche_sand_leer_gross_schw_obfl.jpg);*/
	background-size: 900px 624px;
	-webkit-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	-moz-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	z-index: 1;
}

#obj{
	position: absolute;
	margin-left: 920px;
	margin-top: 80px;
	width: 420px;
	height: 542px;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	-moz-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	display: inline-block;
	border: 2px solid white;
	overflow: auto;
	overflow-x: hidden;
}
#obj img:hover {
	cursor: pointer;
}

/*Buttons*/
.but{
	position: absolute;
	width: 420px;
	height: 60px;
	margin-left: 920px;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	-moz-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	padding: 2px;
	box-sizing: border-box;
}
.but .small{
	min-width: 7.11111%;
}
.but .big {
	width: 21%;
}

.resultate-kueche{
	position: absolute;
	width: 450px;
	height: 520px;
	margin-left: 820px;
	margin-top: 80px;
	overflow: scroll;
	display:none;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	-moz-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
}

.resultate-list{
	color: #444;
	font-size: 12.5px;
	line-height: 28px;
	background-color: none;
	list-style-type: square;
}


h1 {
	position: absolute;
	top: 20px;
	left: 60px;
	font-size: 16px;
	color: #444;
}

h3 {
	position: absolute;
	top: 60px;
	left: 60px;
	font-size: 14px;
	color: #444;
}

.objekte {
	width: 100px;
	height:100px;
}

#mehrereObjekte {
	position: absolute;
	bottom: 0;
	padding: 5px;
	border-top: 1px #000 solid;
	width: 100%;
	text-align: left;
}
#mehrereObjekte p {
	margin: 0;
	font-size: 80%;
}

.selected-multiple {
	border: 2px solid darkred;
}

/*.ui-sortable-helper {
	!*display: table;*!
	z-index: 10;
	!*width: 90px;*!
	!*height: 90px;*!
	cursor: move;
}*/




.draggable {
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.dropped {
	position: static !important;
}


.smaller-input {
	width: 25px !important;
	height: 25px !important;
}

/* Buttons */

#open, #close, #refresh, #finish, #back, #next, #help, #distance_table, #screenshot{
	/*position:relative;*/
	/*width: 75px;*/
	height: 50px;
	margin: 3px;
	left:10px;
	top: 10px;
	float:left;
	padding: 0;



	box-sizing: border-box;
}
#open:hover, #close:hover, #refresh:hover, #finish:hover, #back:hover, #next:hover, #help:hover{
	cursor: pointer;
}
#info {
	width: 800px;
	height: 600px;
	background: #fff;
	z-index: 1000;
	position: absolute;
	margin-top: 11px;
	margin-left: 50px;
	padding: 10px;
	box-sizing: border-box;
	display: none;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(110,110,110,1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(110,110,110,1);
	box-shadow: 2px 2px 5px 0px rgba(110,110,110,1);
}
#info-bild {
	background: url("../img/versuch_neu.png") no-repeat;
	background-size: contain;
	height: 234px;
}
#info .closeAnzeige {
	padding: 5px 10px;
	background: #fff;
	border-radius: 3px;
	position: absolute;
	right: 10px;
	z-index: 10;
}
#info .closeAnzeige:hover {
	cursor: pointer;
}
#info .closeAnzeige h4 {
	margin: 0;
}
#info h2, #info h4 {
	margin: 0;
}

.schrank {
	position: absolute;
	/*display:none;*/
	border: 1px solid #726c5d;
	text-align: center;
	overflow: hidden;
	/*background-color: #c0ad8c; !*REGAL LEISTE *!*/
}

.schrank.border {
	border-width: 2px;
	background-color: green;
	opacity: 0.2;
}

/* doors */
.door {
	position: absolute;
	text-align: center;
	transition: transform .5s;
	transform-style: preserve-3d;
	transform-origin: left center;
	border: 1px solid #bfbfbf;
	z-index: 5;
}
.door:hover {
	cursor: pointer;
}

.opendoorleft {
	-webkit-transform: rotateY(-105deg) skewY(5deg);
	-moz-transform: rotateY(-105deg) skewY(5deg);
  -o-transform: rotateY(-105deg) skewY(5deg);
	transform: rotateY(-105deg) skewY(5deg);
	transform-origin: left bottom;
	position: absolute;
	z-index: 5;
}

.opendoorright {
	-webkit-transform: rotateY(105deg) skewY(-5deg);
	-moz-transform: rotateY(105deg) skewY(-5deg);
  -o-transform: rotateY(105deg) skewY(-5deg);
	transform: rotateY(105deg) skewY(-5deg);
	transform-origin: right;
	position: absolute;
	z-index: 5;
}
.opendoorrightClosed {
	-webkit-transform: rotateY(0) skewY(0);
	-moz-transform: rotateY(0) skewY(0);
	-o-transform: rotateY(0) skewY(0);
	transform: rotateY(0) skewY(0);
	transform-origin: right;
	position: absolute;
}

.opendrawer {
	-webkit-transform: translate(0,8px) scaleY(0.55);
	-moz-transform: translate(0,8px) scaleY(0.55);
	-o-transform: translate(0,8px) scaleY(0.55);
	transform: translate(0,8px) scaleY(0.55);
	transform-origin: bottom;
	position: absolute;
	z-index: 5;
}

.opendoordown {
	-webkit-transform: rotateX(140deg);
	-moz-transform: rotateX(140deg);
	-moz-transform: rotateX(140deg);
	transform: rotateX(140deg);
	transform-origin: bottom;
	position: absolute;
	z-index: 5;
}
.opendoordownClosed {
	-webkit-transform: rotateX(0);
	-moz-transform: rotateX(0);
	-moz-transform: rotateX(0);
	transform: rotateX(0);
	transform-origin: bottom;
	position: absolute;
}

.opendoorup {
	-webkit-transform: rotateX(20deg);
	-moz-transform: rotateX(20deg);
	-moz-transform: rotateX(20deg);
	transform: rotateX(120deg);
	transform-origin: 0 0;
	position: absolute;
	z-index: 5;
}

/*
#close {
	position:relative;
	width: 80px;
	height: 40px;
	margin-right: 6px;
	left:10px;
	top:10px;
}
#refresh {
	position:relative;
	width: 80px;
	height: 40px;
	left:10px;
	top:10px;
}
*/
/* gray area*/
#gray {
	background: #dedede;
	width: 147px;
	height: 174px;
	position: absolute;
	top: 450px;
	left: 148px;
}

#gray2 {
	width: 153px;
	left: 449px;
	height: 174px;
	top: 450px;
	background: #dedede;
	position: absolute;
}

/* cupboards */
#s1{
	width: 135px;
	height: 177px;
	left: 22px;
	top: 115px;
	display:  block !important;
}

#s2 {
	width: 135px;
	height: 177px;
	left: 165px;
	top: 115px;
}

#s3 {
	width: 135px;
	height: 177px;
	left: 307px;
	top: 115px;
}

#s4 {
	width: 135px;
	height: 177px;
	left: 450px;
	top: 115px;
}

#s5 {
	width: 135px;
	height: 177px;
	left: 597px;
	top: 115px;
}

/* cupboards */
/*#s1-1{
	display: block;
	width: 135px;
	height: 88px;
	left: 22px;
	top: 115px;
}
#s1-2{
	display: block;
    width: 135px;
    height: 88px;
    left: 22px;
    top: 204px;
}

#s2-1 {
	width: 135px;
	height: 88px;
	left: 165px;
	top: 115px;
}

#s2-2 {
    width: 135px;
    height: 88px;
    left: 165px;
    top: 204px;
}

#s3-1 {
	width: 135px;
	height: 88px;
	left: 307px;
	top: 115px;
}
#s3-2 {
    width: 135px;
    height: 88px;
    left: 307px;
    top: 204px;
}


#s4-1 {
	width: 135px;
	height: 88px;
	left: 450px;
	top: 115px;
}

#s4-2 {
    width: 135px;
    height: 88px;
    left: 450px;
    top: 204px;
}


#s5-1 {
	width: 135px;
	height: 88px;
	left: 597px;
	top: 115px;
}
#s5-2 {
    width: 135px;
    height: 88px;
    left: 597px;
    top: 204px;
}*/

#s6-1 {
	width: 143px;
	height: 27px;
	left: 0px;
	top: 450px;
}

#s6-2 {
	width: 143px;
	height: 27px;
	left: 0px;
	top: 481px;
}

#s6-3 {
	width: 143px;
	height: 27px;
	left: 0px;
	top: 512px;
}

#s6-4 {
	width: 143px;
	height: 27px;
	left: 0px;
	top: 542px;
}

#s6-5 {
	width: 144px;
	height: 54px;
	left: 0px;
	top: 571px;
}

#s7 {
	width: 147px;
	left: 298px;
	/* ↓↓ kleine Tuere*/
	/*height: 147px;*/
	/*top: 477px;*/

	/* ↓↓ grosse Tuere*/
	height: 172px;
	top: 450px;
}

#s8 {
	width: 146px;
	left: 449px;

	/* ↓↓ Backofen*/
	height: 118px;
	top: 490px;

	/* ↓↓ grosse Tuere*/
	/*height: 172px;*/
	/*top: 450px;*/
}

#s9-1 {
	width: 143px;
	height: 27px;
	left: 603px;
	top: 450px;
}

#s9-2 {
	width: 144px;
	height: 54px;
	left: 603px;
	top:  482px;
}

#s9-3 {
	width: 146px;
	height: 83px;
	left: 603px;
	top: 542px;
}

#s10-1 {
	width: 143px;
	height: 27px;
	left: 754px;
	top: 450px;
}

#s10-2 {
	width: 144px;
	height: 54px;
	left: 753px;
	top: 482px;
}

#s10-3 {
	width: 146px;
	height: 83px;
	left: 753px;
	top: 542px;
}


/*#d1 {
	width: 135px;
	left: 22px;
	top: 115px;
	height: 177px;
	background-image: url(../img/tuer_oben_rechts.jpg);
	background-size: 142px 182px;
}*/

/*
#d1:hover{
	-webkit-transition: rotateY(-97deg) skewY(10deg);
	-moz-transition: rotateY(-97deg) skewY(10deg);
  -o-transition: rotateY(-97deg) skewY(10deg);
	transform: rotateY(-97deg) skewY(10deg);
	left 10;
}
*/
#d2 {
	left: 165px;
	top: 115px;
	width: 135px;
	height: 177px;
	background-image: url(../img/tuer_oben_links._op.png);
	background-size: 142px 182px;
}

#d3 {
	left: 307px;
	top: 115px;
	width: 135px;
	height: 177px;
	background-image: url(../img/tuer_oben_links._op.png);
	background-size: 142px 182px;
}

#d4 {
	width: 135px;
	left: 450px;
	top: 115px;
	height: 177px;
	background-image: url(../img/tuer_oben_rechts_op.png);
	background-size: 142px 182px;
}

#d5 {
	left: 597px;
	top: 115px;
	width: 135px;
	height: 177px;
	background-image: url(../img/tuer_oben_links._op.png);
	background-size: 142px 182px;
}

/*#d1-1 {
	width: 135px;
	left: 22px;
	top: 115px;
	height: 88px;
	background-image: url(../img/tuer_oben_rechts_halb.jpg);
	!*background-size: 142px 182px;*!
}

#d1-2 {
	width: 135px;
	left: 22px;
	top: 204px;
	height: 89px;
	background-image: url(../img/tuer_oben_rechts_halb.jpg);
	!*background-size: 142px 182px;*!
}

!*
#d1:hover{
	-webkit-transition: rotateY(-97deg) skewY(10deg);
	-moz-transition: rotateY(-97deg) skewY(10deg);
  -o-transition: rotateY(-97deg) skewY(10deg);
	transform: rotateY(-97deg) skewY(10deg);
	left 10;
}
*!
#d2-1 {
	left: 165px;
	top: 115px;
	width: 135px;
	height: 88px;
	background-image: url(../img/tuer_oben_links_halb.jpg);
	!*background-size: 142px 182px;*!
}
#d2-2 {
    left: 165px;
    top: 204px;
    width: 135px;
    height: 88px;
    background-image: url(../img/tuer_oben_links_halb.jpg);
    !*background-size: 142px 182px;*!
}

#d3-1 {
	left: 307px;
	top: 115px;
	width: 135px;
	height: 88px;
	background-image: url(../img/tuer_oben_links_halb.jpg);
	!*background-size: 142px 182px;*!
}
#d3-2 {
    left: 307px;
    top: 204px;
    width: 135px;
    height: 88px;
    background-image: url(../img/tuer_oben_links_halb.jpg);
    !*background-size: 142px 182px;*!
}

#d4-1 {
	width: 135px;
	left: 450px;
	top: 115px;
	height: 88px;
	background-image: url(../img/tuer_oben_rechts_halb.jpg);
	!*background-size: 142px 182px;*!
}
#d4-2 {
    width: 135px;
    left: 450px;
    top: 204px;
    height: 88px;
    background-image: url(../img/tuer_oben_rechts_halb.jpg);
    !*background-size: 142px 182px;*!
}

#d5-1 {
	left: 597px;
	top: 115px;
	width: 135px;
	height: 88px;
	background-image: url(../img/tuer_oben_links_halb.jpg);
	!*background-size: 142px 182px;*!
}
#d5-2 {
    left: 597px;
    top: 204px;
    width: 135px;
    height: 88px;
    background-image: url(../img/tuer_oben_links_halb.jpg);
    !*background-size: 142px 182px;*!
}*/

#d6-1 {
	width: 143px;
	height: 27px;
	left: 0px;
	top: 450px;
	background-image: url(../img/schublade_klein_links.jpg);
	background-size: 147px 31px;
}

#d6-2 {
	width: 143px;
	height: 27px;
	left: 0px;
	top: 481px;
	background-image: url(../img/schublade_klein_links.jpg);
	background-size: 147px 31px;
}

#d6-3 {
	width: 143px;
	height: 27px;
	left: 0px;
	top: 512px;
	background-image: url(../img/schublade_klein_links.jpg);
	background-size: 147px 31px;
}

#d6-4 {
	width: 143px;
	height: 27px;
	left: 0px;
	top: 542px;
	background-image: url(../img/schublade_klein_links.jpg);
	background-size: 147px 31px;
}

#d6-5 {
	width: 144px;
	height: 54px;
	left: 0px;
	top: 571px;
	background-image: url(../img/schublade_mittel_links.jpg);
	background-size: 148px 57px;
}

#d7 {
	width: 147px;
	left: 298px;
	/* ↓↓ kleine Tür */
	/*height: 147px;*/
	/*top: 477px;*/
	/*background-image: url(../img/tuer_unten.jpg);*/
	/*background-size: contain;*/

	/* ↓↓ grosse Tür */
	height: 174px;
	top: 450px;
	background-image: url(../img/tuer_unten_gross_rechts.jpg);
	background-size: auto;
}

#d8 {
	width: 146px;

	/* ↓↓ kleine Tür */
	left: 449px;
	height: 118px;
	top: 490px;
	background-image: url(../img/ofen_tuer.jpg);
	background-size: contain;

	/*↓↓ grosse Tür*/
	/*left: 451px;*/
	/*height: 174px;*/
	/*top: 450px;*/
	/*background-image: url(../img/tuer_unten_gross_links.jpg);*/
	/*background-size: auto;*/
}

#d9-1 {
	width: 143px;
	height: 27px;
	left: 603px;
	top: 450px;
	background-image: url(../img/schublade_klein_rechts.jpg);
	background-size: 151px 30px;
}

#d9-2 {
	width: 144px;
	height: 54px;
	left: 603px;
	top: 482px;
	background-image: url(../img/schublade_mittel_rechts.jpg);
	background-size: 153px 61px;
}

#d9-3 {
	height: 83px;
	left: 603px;
	top: 542px;
	width: 146px;
	background-image: url(../img/schublade_groß_rechts.jpg);
	background-size: 149px 88px;
}

#d10-1 {
	width: 143px;
	height: 27px;
	left: 754px;
	top: 450px;
	background-image: url(../img/schublade_klein_rechts.jpg);
	background-size: 147px 31px;
}

#d10-2 {
	width: 144px;
	height: 54px;
	left: 753px;
	top: 482px;
	background-image: url(../img/schublade_mittel_rechts.jpg);
	background-size: 153px 61px;
}

#d10-3 {
	height: 83px;
	left: 753px;
	top: 542px;
	width: 146px;
	background-image: url(../img/schublade_groß_rechts.jpg);
	background-size: 149px 88px;
}




/* shelves */
.regal {
	position: absolute;
	text-align: center;
	overflow: auto;
	background-color: white; /*#bdaa8a;*/
	min-height: 60px;
	min-width: 40px;
	perspective: 40px;
	z-index: 4;
}
#gkitchen .regal:hover {
	cursor: pointer;
}
#test2 .regal:hover {
	cursor: initial;
;
}

/*oberen Schrank-Regale */
#sv1-1, #sv1-2, #sv2-1, #sv2-2 , #sv3-1, #sv3-2, #sv4-1, #sv4-2, #sv5-1, #sv5-2{
	width: 135px;
	height: 88px;
}
#sv1-1, #sv2-1,  #sv3-1, #sv4-1,  #sv5-1 {
	box-sizing: border-box;
	border-bottom: solid #b6afaf;
	border-width: 3px;
	/*border-bottom: 1px solid #b6afaf;*/
}

/* width und height für Pixelgrößen und min-width, min-height und perspective(Tiefe) für reale Größen */
#sv1-1 {
	min-width: 57px;
	min-height: 33.2px;
	perspective: 32.4px;
}

#sv1-2 {
	min-width: 57px;
	min-height: 33.4px;
	perspective: 33.7px;
}

#sv2-1, #sv3-1, #sv4-1, #sv5-1 {
	min-width: 58px;
	min-height: 33.2px;
	perspective: 29.4px;
}

#sv2-2, #sv3-2, #sv4-2, #sv5-2 {
	min-width: 58px;
	min-height: 33.4px;
	perspective: 33.7px;
}


#sv1-2, #sv2-2, #sv3-2, #sv4-2, #sv5-2 {
	margin-top: 89px;
}

#sv6-1, #sv6-2, #sv6-3, #sv6-4 {
	width: 143px;
	height: 27px;
	min-width: 53.2px;
	min-height: 9.8px;
	perspective: 48.1px;
}

#sv6-5 {
	width: 144px;
	height: 54px;
	min-width: 53.2px;
	min-height: 20.2px;
	perspective: 48.1px;
}

#sv9-1, #sv10-1 {
	width: 143px;
	height: 27px;
	min-width: 53.2px;
	min-height: 9.8px;
	perspective: 48.1px;
}

#sv9-2, #sv10-2 {
	width: 144px;
	height: 54px;
	min-width: 53.2px;
	min-height: 22.2px;
	perspective: 48.1px;
}

#sv9-3, #sv10-3 {
	width: 146px;
	height: 83px;
	min-height: 8px;
	min-width: 53.2px;
	min-height: 33.1px;
	perspective: 48.1px;
}

#sv7 {
	width: 147px;
	/*height: 147px;*/
	min-width: 56px;
	min-height: 61.3px;
	perspective: 52.6px;

	/* ↓↓ grosse Tuere*/
	height: 172px;
}

#sv8 {
	width: 146px;

	min-width: 50px;
	min-height: 55px;
	perspective: 45px;

	/* ↓↓ Backofen*/
	height: 118px;

	/* ↓↓ grosse Tuere*/
	/*height: 172px;*/
}



#test {
	width: 300px;
	height: 100px;
	margin-top: 650px;
	margin-left: 820px;
	position: absolute;
	color: transparent;
	background-color: transparent;

}

.hidden {
	display: none;
	width: 0;
	color: white;
}

/*.obfl {
	border: none !important;
}*/
#obfl1 {
	/*border: 1px solid black;*/
	background-color: transparent;
	width: 200px;
	height: 148px;
	perspective: 60px;
	left: 10px;
	top: 295px;
	min-width: 85px;
	min-height: 60px;
}

#obfl2 {
	/*border: 1px solid blue;*/
	background-color: transparent;
	width: 274px;
	height: 148px;
	perspective: 60px;
	left: 213px;
	top: 295px;
	min-width: 119px;
	min-height: 60px;
}

#obfl3 {
	/*border: 1px solid orange;*/
	background-color: transparent;
	width: 106px;
	height: 148px;
	perspective: 60px;
	left: 490px;
	top: 295px;
	min-width: 32px;
	min-height: 60px;
}

#obfl4 {
	/*border: 1px solid green;*/
	background-color: transparent;
	width: 299px;
	height: 148px;
	perspective: 60px;
	left: 599px;
	top: 295px;
	min-width: 110px;
	min-height: 60px;
}

#obfl5 {
	/*border: 1px solid red;*/
	background-color: transparent;
	width: 700px;
	height: 80px;
	perspective: 37px;
	left: 30px;
	top: 30px;
	min-width: 300px;
	min-height: 65px;
}
#flaecheOben {
	background: url("../img/oben.jpg") no-repeat;
	opacity: 0.5;
	width: 700px;
	height: 152px;
	position: absolute;
	top: 93px;
	left: 27px;
}

#arbeitsflache {
	background: url("../img/arbeitsflaeche_2.jpg") no-repeat;
	opacity: 0.5;
	width: 900px;
	height: 152px;
	position: absolute;
	top: 295px;
}

#lupe {
	width: 100px;
	height: 100px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: 100px 100px;
	background-position: 0 0;
	position: absolute;
	border: 2px solid gray;
	z-index: 10;
	display: none;
}

.highlight {
	background-color: red;
	position: absolute;
	opacity: 0.7;
}

.transparent {
	opacity: 0.01;
	filter: alpha(opacity=10);
}

#test2 {
	width: 900px;
	height: 250px;
	position: relative;
	top: 0;
	-webkit-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	-moz-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	display: none;
	background: #fff;
	opacity: 0;
	z-index: 15;
}

#test2 .closeAnzeige {
	padding: 5px 10px;
	background: #fff;
	border-radius: 3px;
	position: absolute;
	right: 0;
	z-index: 10;
}
#test2 .closeAnzeige:hover {
	cursor: pointer;
}

#test2 .closeAnzeige h4 {margin: 0}

#test2 .testUpAndDown {
	z-index: 10;
	position: absolute;
	right: 0;
	top: 75px;

}
#test2 .testUpAndDown button {
	padding: 5px 10px;
	background: #fff;
	border-radius: 3px;
	width: 33px;
}
#test2 .testUpAndDown button:hover {
	cursor: pointer;
}
#test2 .testUpAndDown button h4 {
	margin: 0;
}

#test2 .testUpAndDown #testUp h4 {
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);

}
#test2 .testUpAndDown #testDown h4 {
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	position: relative;
	left: -2px;
}
#test2 img:hover {
	cursor: pointer;
}
.hasObjectsBorder {
	border: 2px dashed #F00;
	box-sizing: border-box;
}

.erkl {
	bottom: 0;
	display: none;
	padding: 5px;
	/*position: absolute;*/
}
.erkl h4 {
	display: inline-block;
	margin: 0 10px;
}
.erkl textarea {
	display: inline-block;
	width: 500px;
	height: 100px;
	font-size: 15px;
}


#foto-src {
	position: relative;
	/*margin-top: 626px;*/
	/*margin-left: 1205px;*/
	float: right;
	top: 615px;
}

/* adapted from https://www.w3schools.com/howto/howto_css_modal_images.asp */
/* The Modal (background) */
.modal {
	display: none;
	/*visibility: hidden;*/
	position: relative;
	z-index: 100;
	left: 0;
	top: 0;
	overflow: hidden;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;

}
#myModalKitchen, #myModalAlert {
	padding-top: 100px;
	width: 900px;
	height: 526px;
}
#myModalObj {
	padding-top: 100px;
	width: 408px;
	height: 540px;
}

#myModalAlert {
	opacity: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

#myModalAlert div {
	width: 200px;
	height: 150px;
	background: #fff;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	-webkit-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	-moz-box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
	box-shadow: 2px 2px 12px 0px rgba(110,110,110,1);
}
#myModalAlert button {
	padding: 10px 20px;
	position: relative;
	top: 20px;
}

#myModalAlert #alertText {
	margin-top: 32px;
}

#myModalAlert #closeAlert:hover {
	cursor: pointer;
} 
/* Modal Content (Image) */
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
}

#myModalKitchen .modal-content {
	max-width: 400px;
}
#myModalObj .modal-content {
	max-width: 300px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption1, #caption2 {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 300px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption1, #caption2 {
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}



@media only screen and (max-width: 1400px) {


	.but {
		width: 282px;
		height: 120px;
	}
	.but .small {
		min-width: 12%;
	}
	.but .big {
		width: 35%;
	}

	#obj {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-top: 137px;
		width: 282px;
		height: 490px;
	}
	#obj .objekte {
		width: 90px;
		height: 90px;
		margin: 0 1px;
	}
	#foto-src {
		right: 133px;
	}

	#myModalObj {
		width: 280px;
		height: 390px;
	}
}